<ion-modal-view  class="loginModal">
    <ion-content scroll="false">
			<div class="clsLoginTitle">Welcome
			</div>
			<div class="clsLoginform">
                <label class="item item-input item-floating-label item-icon-left clsFormItem">
                    <span class="input-label">Email</span>
                    <input class="clsLoginInput" type="email" placeholder="Email" ng-model="user.email">
                </label>
                <label class="item item-input item-floating-label clsFormItem">
                    <span class="input-label">Password</span>
                    <input class="clsPassInput" type="password" placeholder="Password" ng-model="user.password">
                </label>
           </div>
            <div class="padding">
                <button type="submit" ng-click="login()" class="button button-block clsLoginBtn">
                    <i class="icon"></i>
                    Log in
                </button>
				<div class="clsSignUp" ng-click="signUp()">No Account? Create One</div>
            </div>
       
    </ion-content>
</ion-modal-view>