<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="clsMainHeader">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
			 <!--  <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-more-vertical"></button>
            </ion-nav-buttons> -->
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21" class="clsAppBackground clsMenu">
		 <ion-header-bar class="clsMainHeader slider-user-block"  align-title="left">
               <h1 class="title"><i class="icon ion-grid"></i><span style="padding-left:5px;">Main Menu</span></h1>
		</ion-header-bar>
        <ion-content padding="false" class="side-menu-left ">
            <ion-list id="menu-null">
				<div class="clsMenuProfile padding" style="text-align:center;">
					<img class="clsProfileImg" src="img/profileimg.jpg">
					<div class="clsProfileName">Britney Spears</div>
				</div>
               
                <ion-item class="item-icon-left" class="clsAppBackground" id="menu-list-item1" ui-sref="menu.home" menu-close="">
                    <i class="icon ion-home"></i>Home</ion-item>
			   <ion-item class="item-icon-left clsMenuItemSelected" class="clsAppBackground" id="menu-list-item1" ui-sref="menu.home" menu-close="">
                    <i class="icon ion-mic-c"></i>Events</ion-item>
			   <ion-item class="item-icon-left" class="clsAppBackground" id="menu-list-item1" ui-sref="menu.home" menu-close="">
                    <i class="icon ion-ios-people-outline"></i>About Us</ion-item>
               <ion-item class="item-icon-left" class="clsAppBackground" id="menu-list-item1" ui-sref="menu.home" menu-close="">
                    <i class="icon ion-card"></i>Payments</ion-item>
               
               
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>