<ion-modal-view  class="loginModal">
    <ion-content scroll="false">
			<div class="clsLoginTitle">Sign Up
			</div>
			<div class="clsLoginform">
                <label class="item item-input item-floating-label item-icon-left clsFormItem">
                    <span class="input-label">Name</span>
                    <input class="clsLoginInput" type="email" placeholder="Name" ng-model="user.email">
                </label>
				<label class="item item-input item-floating-label item-icon-left clsFormItem">
                    <span class="input-label">Email</span>
                    <input class="clsLoginInput" type="email" placeholder="Email" ng-model="user.email">
                </label>
                              
			   <label class="item item-input item-floating-label clsFormItem">
                    <span class="input-label">Password</span>
                    <input class="clsPassInput" type="password" placeholder="Password" ng-model="user.password">
                </label>
           </div>
            <div class="padding">
                <button type="submit" class="button button-block clsLoginBtn">
                    SignUp
                </button>
				<div class="clsSignUp" ng-click="login()">Login?</div>
            </div>
       
    </ion-content>
</ion-modal-view>